.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 32px;
}

.hero .info span {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
}

.hero .icon {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding: 8px;
  font-size: 1.2rem;
  color: #7d7d7d;
  transition: 0.5s;
}

.hero .icon:hover {
  background-color: #e0e0e0;
}

.hero .place-icon {
  font-size: 18px;
  color: #7d7d7d;
}

.hero h1 {
  font-size: 2rem;
}

.hero h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #444;
  text-wrap: balance;
}

.hero figure {
  margin: 8px 0px;
}

.hero img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 128px;
  border-radius: 16px;
}

.hero footer {
  display: flex;
  gap: 8px;
}